<nav class="navbar">

    <div class="navbar-title">
        <h1>GYM LEADERS</h1>
    </div>

    <div class="navbar-links">

        <a
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            Home
        </a>

        <a
            routerLink="/kanto"
            routerLinkActive="active">
            Kanto Region
        </a>

        <a
            routerLink="/johto"
            routerLinkActive="active">
            Johto Region
        </a>

        <a
            routerLink="/hoenn"
            routerLinkActive="active">
            Hoenn Region
        </a>

    </div>

</nav>